#carro {
    width: 200px;
    height: 379px;
}

.c1 {
    background-image: url("../imgs/c1.png");
}
.c2 {
    background-image: url("../imgs/c2.png");
}
.c3 {
    background-image: url("../imgs/c3.png");
}